%p
  Hallo #{@resource.full_name}!
%p Jemand hat einen Link zum Ändern deines Passwortes angefordert. Du kannst das mit dem folgenden Link tun.
%p= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, lcoale: 'de')
%p Wenn du diesen Link nicht angefordert hast, ignoriere diese E-Mail einfach
%p Dein Passwort wird nicht geändert bevor du dem obigen Link folgst und eine neues Passwort eingibst.
